{% extends "base.html" %}

{% block content %}

<a href="{% url 'index' %}">Home</a>

<h2>Club : {{ club }}</h2>

Ce club a {{ team_count }} équipes et {{ member_count }} membres
Liste des membres

{% for team in teams %}
<ul>
    {{ team }}
    
    <ul>
        {% for member in team.memberteam_set.all %}
            <li>{{ member.member }}</li>
        {% endfor %}
    </ul>
</ul
{% endfor %}

<h2>Matchs</h2>
<ul>
{% for game in games_list %}
    <li>{{ game.date }}</li>
{% empty %}
    <li>There are no games scheduled</li>
{% endfor %}
</ul>

{% endblock %}